* {margin: 0; padding: 0; box-sizing: border-box;}
*::before, *::after {box-sizing: border-box;}
li {list-style: none;}
a {text-decoration: none; color: #333;}

html, body {height: 100%;}
body {overflow-x: hidden;}
table {border-collapse: collapse;}
img {vertical-align: text-bottom; max-width: 100%;}