* {margin: 0; padding: 0; box-sizing: border-box;}
*::before, *::after {box-sizing: border-box;}
li {list-style: none;}
a {text-decoration: none; color: #1f1f1f;}

html, body {height: 100%;}
html, body {overflow-x: clip;}
table {border-collapse: collapse;}
img {vertical-align: text-bottom; max-width: 100%;}