@charset "UTF-8";

@import url(font.css);
@import url(reset.css);

/* 기본 설정들 */
html {
    font-size: 10px;
}
body {
    font-family: 'Pretendard';
    background: #ffffff;
    position: relative;
    overflow-x: hidden;
}
:root {
    --maincolor1: #f0620a;
    --maincolor2: #04456f;
    --dark-blue: #13384f;
    --text: #1f1f1f;
    --bg-light: #f8f8f8;
}
.logo img {width: 190px;}

.container {
    max-width: 1720px; margin: 0 200px; margin-top: 200px;
}

.sideBar {
    position: fixed; right: 2.3vw; top: 50%; transform: translateY(-50%); z-index: 999;
}
.sideBar .btnTop {
    margin-top: 15px;
}

.tbo {
    color: var(--maincolor1); font-weight: 600;
}
.tb {
    font-weight: 600;
}





/* 시~~작 */

header {
    position: absolute; top: 0; left: 0; z-index: 999;
    width: 100%; transition: background 0.3s;
}
header:hover {
    background: #fff;
}

/* --- GNB 스타일 --- */
header .topset {
    display: flex; justify-content: space-between; align-items: center;
    width: 79vw; height: 86px; margin: 0 10.4vw;
}
    header .topset .gnb {
        display: flex;
        height: 100%;
    }
    header .topset .gnb > li {
        position: relative;
        display: flex; align-items: center;
        flex-direction: column; /* 이거 없으면 주황색 바 안 두꺼워짐 */
    }
        header .topset .gnb > li > a {
            display: flex; align-items: center; justify-content: center;
            width: 11.9vw; height: 100%; padding: 0 10px; padding-top: 5px; font-size: 2rem; color: #fff; font-weight: 500; border-bottom: 2px solid transparent; /* 보더 있되 투명하게 */
        }

        /* 헤더 호버 시 전체 글씨색 변경 */
        header:hover .topset .gnb > li > a {color: var(--text);}
        header:hover .topset .blog a {color: var(--maincolor2); transition: .3s;}

        /* ✨ GNB 특정 메뉴 호버 시: 컬러 변경 및 하단 보더 */
        header .topset .gnb > li:hover > a {
            border-bottom: 2px solid var(--maincolor1);
            color: var(--maincolor1); font-weight: 600;
        }

        /* --- LNB 스타일 --- */
        header .topset .gnb .lnb {
            position: absolute; top: 86px; left: 50%; transform: translateX(-50%);
            width: 100%; padding-top: 5px; text-align: center; z-index: 10;
            display: none; /* 제이쿼리로 제어 */
        }
        header .topset .gnb .lnb li a {
            display: block;
            padding: 20px 0px; font-size: 1.6rem; color: var(--text); font-weight: 500; transition: 0.2s;
            white-space: nowrap; /* 글자가 줄바꿈되지 않도록 설정 */
        }

        /* ✨ LNB 호버 시: 배경색 변경 및 글씨색 반전 */
        header .topset .gnb .lnb li a:hover {
            background-color: var(--maincolor1);
            color: #fff;
        }
        header .lnb_bg {
            position: absolute; top: 86px; left: 0; width: 100%; height: 320px;
            background: #fff;
            box-shadow: 0px 10px 100px rgba(0, 0, 0, 0.25); clip-path: inset(0px -500px -500px -500px); /* 위쪽(0px)은 자르고 나머지 방향은 여백(-500px) */
            display: none; /* 제이쿼리에서 제어 */
        }

        /* --- 블로그 버튼 및 이미지 설정 --- */
        header .topset .blog a {
            display: flex; align-items: center;
            font-size: 1.8rem; color: #fff; font-weight: 300; transition: color 0.3s; padding: 20px 0;
        }

        /* ✨ 블로그 호버 시 이미지 변경 효과 */
        header .topset .blog a:hover {
            font-weight: 600;
        }
        header .topset .blog a .blog_icon {
            margin-left: 0.78vw; width: 20px;
        }

        /* 블로그 영역 호버 시 이미지 소스 변경 */
        header:hover .topset .blog a .blog_icon {
            content: url('../images/btn_go2.png');
        }


#hero {}


#section1 {}
#section1 .container {}
    #section1 .container .productList {
        display: grid; grid-template-columns: repeat(3, 1fr); gap: 21px 19px;
        list-style: none; padding: 0; margin: 0;
    }
    #section1 .container .productList > li {
        width: 25.7vw; overflow: hidden; border: 1px solid var(--maincolor1); box-sizing: border-box; transition: .3s;
    }
    #section1 .container .productList > li:hover {
        transform: translateY(-15px);
    }

    /* border radius 조절을 위한 영역 */
    #section1 .container .productList > li:first-child,
    #section1 .container .productList > li:nth-child(3) {
        border-radius: 20px 20px 0 0;
    }
    #section1 .container .productList > li:nth-child(2) {
        border-radius: 0px; border: 1px solid var(--maincolor1); border-left: none; border-right: none;
    }
    #section1 .container .productList > li:nth-child(4),
    #section1 .container .productList > li:last-child {
        border-radius: 20px;
    }
    #section1 .container .productList > li:nth-child(5) {
        border-radius: 0 0 20px 20px;
    }
    
    #section1 .container .productList li a {
        display: block;
        height: 100%; text-decoration: none; color: inherit;
    }
        #section1 .container .productList li a .productImg {
            position: relative;
            display: flex; justify-content: center; align-items: center;
            width: 100%; height: 280px; margin-top: 20px;
        }
        #section1 .container .productList li a .textBox {
            position: relative;
            height: 100%; padding: 40px 2.6vw; background: #ffffff; transition: background 0.2s;
        }
            #section1 .container .productList li a .textBox strong {
                display: block;
                font-size: 2.2rem; font-weight: 700; color: var(--text); margin-bottom: 15px;
            }
            #section1 .container .productList li a .textBox strong::before {
                content: "";
                position: absolute; top: 25px; left: 2.6vw;
                width: 20px; height: 3px; background: var(--maincolor1);
            }
            #section1 .container .productList li a .textBox p {
                font-size: 1.6rem; line-height: 2; font-weight: 500; color: #333; margin-bottom: 20px;
            }
            #section1 .container .productList li a .textBox .productTag {
                display: flex; gap: 10px; justify-content: center;
            }
                #section1 .container .productList li a .textBox .productTag li {
                    width: 4.63vw; font-size: 1.5rem; font-weight: 600; color: var(--text); background: #EFEFEF; padding: 5px 0px; border-radius: 10px; transition: .3s; text-align: center;
                }
        #section1 .container .productList li h2 {}
        #section1 .container .productList li h2 .tbo {}
        #section1 .container .productList li h2 .tb {}

        /* 두 번째 li */
        #section1 .container .productList > li:nth-child(2) {
            display: flex; justify-content: space-between; align-items: center; flex-direction: column;
            background: #F8F8F8;
        }
        #section1 .container .productList > li:nth-child(2) h2 {
            font-size: 3.5rem; line-height: 1.7; text-align: center; color: var(--text); font-weight: 400; margin-top: 95px;
        }
        #section1 .container .productList > li:nth-child(2) img {
        }

        /* Hover Effect */
        #section1 .container .productList > li:hover .textBox {
            background: var(--maincolor1);
        }
        #section1 .container .productList > li:hover .textBox strong {
            color: #ffffff;
        }
        #section1 .container .productList > li:hover .textBox p {
            color: #ffffff;
        }
        #section1 .container .productList li:hover a .textBox strong::before {
            background: #fff;
        }


#section2 {}
#section2 h2 {}
#section2 h2 .tbo {}
#section2 h2 .tb {}
#section2 .btn_more {}
#section2 .container {}
#section2 .container .tech1 {}
#section2 .container .tech2 {}
#section2 .container .tech3 {}
#section2 .container .tech4 {}
#section2 .container .tech5 {}
#section2 .container .tech6 {}


#section3 {}
#section3 h2 {}
#section3 h2 .tb {}
#section3 .btn_more {}


#section4 {}
#section4 h2 {}
#section4 h2 .tbo {}
#section4 h2 .tb {}
#section4 .container {}
#section4 .container .support {}
#section4 .container .support .sup1 {}
#section4 .container .support .sup2 {}
#section4 .container .support .sup3 {}
#section4 .container p {}
#section4 .container p strong {}
#section4 .container .tel {}
#section4 .container .email {}


footer {}
footer .container {}
footer .container .logoFoot {}
footer .container p {}
footer .container p span {}