
body {overflow-x: visible !important;
    font-family: 'Pretendard', -apple-system, BlinkMacSystemFont,
                'Apple SD Gothic Neo', 'Noto Sans KR',
                'Malgun Gothic', Arial, sans-serif;
                 overflow-y: scroll;
                 margin: 0;
}
  

.hero {
  position: relative;
  width: 100%;
  height: 700px;
  overflow: hidden;
}
  /* 이미지 높이랑 맞춰 */


/* 이미지 */
.hero-image{
   position: absolute;
  right: 0;
  top: 0;
  height: 100%;
}

.hero-image img{
  height: 100%;
  width: auto;
  display: block;
  
}
/* 텍스트 */
.hero-content {
  padding: 80px 0 0 80px;
}
.hero-content p {
  font-size: 40px;   /* ✅ 밑에 문장 */
  line-height: 0.6;
}
.hero-content strong {
  display: block;
  font-size: 2.18rem;
  margin-bottom: 16px;
}
/* 모바일 대응 */
 /* COMPANY INTRO */
.company-intro {
  padding: 0;
}

.company-intro h2 {
  font-size: 32px;
  margin-bottom: 48px;
}

.ceo-message h3 {
  font-size: 22px;
  margin-bottom: 24px;
 
 
}
.ceo-sub {
  font-size: 35px;
  font-weight: 600;
}
.ceo-title {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.4;
  margin: 20px 0 40px;
}
.ceo-bg {
 position: relative;
  width: 100vw;
  
  margin-left: calc(50% - 50vw);
  overflow: visible;
  
 
}

.ceo-bg img {
 display: block;
  width: 100%;
  height: auto;
  min-width: none;
}

/* 이미지 위 전체 텍스트 영역 */
.ceo-bg-content {
  position: absolute;
  inset: 0;
  padding: 100px 200px;

  display: flex;
  gap: 95px;

  color: #fff;
  line-height: 1.6;
}

.sub_img {
  width: 89vw;
  object-fit: contain;
}

.ceo-inline-logo {
  padding-top: 10px;
  margin-bottom: 60px;
  transform: translateY(20%);
}

.ceo-inline-logo img {
  width: 298px;   /* ← 여기만 조절 */
  height: auto;
}

/* 좌우 비율 */
.ceo-left {
  flex: 1.2;
}

.ceo-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ceo-right p {
  margin-top: 0;
}

.ceo-bg-content p {
  margin-bottom: 24px;
}

/* 마지막 문단 강조 */
.ceo-strong {
  font-weight: 700;
}

/* 글씨 가독성용 오버레이 (강추) */
.ceo-bg::after {
  display: none;
}

.ceo-bg-content {
  position: absolute;
  z-index: 1;
  
}
.ceo-sign {
  font-size: 20px;
  font-weight: 600;
  margin-top: 40px;
}