/* Figma Styles of your File */
:root {
  /* Colors */
  --maincolor: #f0620a;
  --maincolor2: #04456f;
  --subcolor: #13384f;
  --textcolor: #1f1f1f;
  --bgcolor: #f8f8f8;
  --hashtag: #efefef;
  --footer: #343434;
  --footertext: #797979;

  /* Fonts */
  --gnb-font-family: Pretendard-Medium, sans-serif;
  --gnb-font-size: 22px;
  --gnb-line-height: normal;
  --gnb-font-weight: 500;
  --gnb-font-style: normal;
  --regular-font-family: Pretendard-Regular, sans-serif;
  --regular-font-size: 18px;
  --regular-line-height: normal;
  --regular-font-weight: 400;
  --regular-font-style: normal;
  --semibold-font-family: ABeeZee-Regular, sans-serif;
  --semibold-font-size: 18px;
  --semibold-line-height: normal;
  --semibold-font-weight: 400;
  --semibold-font-style: normal;
  ---font-family: Pretendard-Bold, sans-serif;
  ---font-size: 40px;
  ---line-height: 140%;
  ---font-weight: 700;
  ---font-style: normal;
  ---font-family: Pretendard-Regular, sans-serif;
  ---font-size: 18px;
  ---line-height: 160%;
  ---font-weight: 400;
  ---font-style: normal;
  --medium-font-family: Pretendard-Regular, sans-serif;
  --medium-font-size: 35px;
  --medium-line-height: 160%;
  --medium-font-weight: 400;
  --medium-font-style: normal;
  --semibold-font-family: ABeeZee-Regular, sans-serif;
  --semibold-font-size: 35px;
  --semibold-line-height: 160%;
  --semibold-font-weight: 400;
  --semibold-font-style: normal;
  --1-font-family: Pretendard-Bold, sans-serif;
  --1-font-size: 24px;
  --1-line-height: 200%;
  --1-font-weight: 700;
  --1-font-style: normal;
  --1-font-family: Pretendard-Medium, sans-serif;
  --1-font-size: 16px;
  --1-line-height: 200%;
  --1-font-weight: 500;
  --1-font-style: normal;
  --1-font-family: ABeeZee-Regular, sans-serif;
  --1-font-size: 16px;
  --1-line-height: 200%;
  --1-font-weight: 400;
  --1-font-style: normal;
  --and-font-family: ABeeZee-Regular, sans-serif;
  --and-font-size: 20px;
  --and-line-height: normal;
  --and-font-weight: 400;
  --and-font-style: normal;
  --2-font-family: ABeeZee-Regular, sans-serif;
  --2-font-size: 26px;
  --2-line-height: 160%;
  --2-font-weight: 400;
  --2-font-style: normal;
  --3-font-family: Pretendard-Regular, sans-serif;
  --3-font-size: 20px;
  --3-line-height: 160%;
  --3-font-weight: 400;
  --3-font-style: normal;
  --4-font-family: Pretendard-Medium, sans-serif;
  --4-font-size: 18px;
  --4-line-height: normal;
  --4-font-weight: 500;
  --4-font-style: normal;
  --4regular-font-family: Pretendard-Regular, sans-serif;
  --4regular-font-size: 18px;
  --4regular-line-height: 160%;
  --4regular-font-weight: 400;
  --4regular-font-style: normal;
  --4semibold-font-family: ABeeZee-Regular, sans-serif;
  --4semibold-font-size: 18px;
  --4semibold-line-height: 160%;
  --4semibold-font-weight: 400;
  --4semibold-font-style: normal;
  --4-font-family: Pretendard-Medium, sans-serif;
  --4-font-size: 24px;
  --4-line-height: normal;
  --4-font-weight: 500;
  --4-font-style: normal;
  --regular-font-family: Pretendard-Regular, sans-serif;
  --regular-font-size: 16px;
  --regular-line-height: 160%;
  --regular-font-weight: 400;
  --regular-font-style: normal;
  --semibold-font-family: ABeeZee-Regular, sans-serif;
  --semibold-font-size: 14px;
  --semibold-line-height: normal;
  --semibold-font-weight: 400;
  --semibold-font-style: normal;
  --semibold-font-family: ABeeZee-Regular, sans-serif;
  --semibold-font-size: 16px;
  --semibold-line-height: 160%;
  --semibold-font-weight: 400;
  --semibold-font-style: normal;

  /* Effects */
}
/* Figma Color Variables of your File */
